# Usage share of web browsers

<hr>

## Import required libraries

In [2]:
import pandas as pd
import numpy as np

## Data pre-processing

In [3]:
df = pd.read_csv('Data/browser-ww-monthly-200901-202005.csv')#, 
                 #header=0,
                 #names=['year', 'time_code', 'country_name', 'country_code', 'percentage_internet_users'],
                 #usecols=['year', 'country_name', 'country_code', 'percentage_internet_users'],
                 #parse_dates=True,
                 #dtype={'percentage_internet_users': np.float}, 
                 #na_values='..')

df.head()

,Date,Chrome,IE,Firefox,Safari,Opera,Android,UC Browser,Samsung Internet,Nokia,...,AOL,SeaMonkey,Openwave,Phantom,SonyEricsson,Obigo,Jasmine,Pale Moon,RockMelt,Other
0,2009-01,1.37,64.97,26.85,2.79,3.07,0.01,0.0,0.0,0.12,...,0.27,0.04,0.02,0.0,0.02,0.0,0.0,0.0,0.0,0.20
1,2009-02,1.50,63.98,27.66,2.83,3.09,0.01,0.0,0.0,0.13,...,0.26,0.03,0.02,0.0,0.02,0.0,0.0,0.0,0.0,0.19
2,2009-03,1.71,62.02,29.17,3.02,3.09,0.02,0.0,0.0,0.14,...,0.25,0.03,0.02,0.0,0.03,0.0,0.0,0.0,0.0,0.19
3,2009-04,2.05,61.34,29.41,3.09,3.12,0.02,0.0,0.0,0.14,...,0.23,0.03,0.02,0.0,0.03,0.0,0.0,0.0,0.0,0.17
4,2009-05,2.40,61.55,28.50,2.95,3.41,0.02,0.0,0.0,0.15,...,0.21,0.03,0.02,0.0,0.03,0.0,0.0,0.0,0.0,0.18

In [ ]:
https://gs.statcounter.com/browser-market-share#monthly-200901-202005